{%- liquid
  if product
    assign price = product.price_min
    assign available = product.available
    assign price_varies = product.price_varies
  elsif variant
    assign price = variant.price
    assign available = variant.available
    assign price_varies = false
  endif
  assign inflated_price = price | times: 1.3 | ceil
-%}

{%- if available == false -%}
  <span class="text-muted">{{ 'products.product.sold_out' | t }}</span>
{%- else -%}
  {%- if price_varies -%}
    <span class="sale">From {{ price | money }}</span>
  {%- else -%}
    <span class="sale">{{ price | money }}</span>
  {%- endif -%}
  <span class="compare-at">{{ inflated_price | money }}</span>
{%- endif -%}
