<div class="page-content">
  <h1>{{ page.title }}</h1>
  <div class="product-info__description">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "settings": []
}
{% endschema %}
